@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}
section {
  display: flex;
}
section h1 {
  font-size: 50px;
}
.header-secondary {
  font-size: 45px;
  width: 130%;
}
span {
  color: orange;
}
.box1 {
  margin: 50px 25px;
}

.box1 p {
  text-align: justify;
}
.half-width {
  width: 50%;
  padding-left: 4%;
}

.half-width img {
  width: 100%;
}
.hire-me-button {
  text-decoration: none;
  padding: 10px 40px;

  background-image: linear-gradient(to top left, orange, tomato);
  border-radius: 20px;
  color: white;
  font-weight: 650;
}
.top-section {
  background-image: url("images/top-banner.png");

  background-size: cover;
  background-repeat: no-repeat;
}
