@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: Poppins;
  margin: 0;
  padding: 0;
}
.flex-container {
  display: flex;
}
section h1 {
  font-size: 50px;
}
.header-secondary {
  font-size: 38px;
  width: 100%;
}
span {
  color: orange;
}

.top-section .half-width .box1 {
  margin-top: 180px;
  margin-left: 80px;
}

.box1 p {
  text-align: justify;
}
.half-width {
  width: 50%;

  padding-left: 4%;
}

.half-width img {
  width: 100%;
}
.hire-me-button {
  text-decoration: none;
  padding: 10px 40px;

  background-image: linear-gradient(to top left, orange, tomato);
  border-radius: 20px;
  color: white;
  font-weight: 650;
}

.top-section {
  background-image: url("images/top-banner.png");

  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.bottom-section {
  background-image: url("images/dream-bg.png");
  background-repeat: no-repeat;
  background-position-x: right;
  margin-bottom: 10px;
}
.bottom-section img {
  width: 80%;
}
.right-box {
  margin-top: 50px;
}
.parent {
  margin: 64px;
}
.parent h1 {
  font-size: 36px;
}
.orange-color {
  color: orange;
}

.parent .half-width {
  width: 45%;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  border-radius: 10px;
}
.third-section {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-size: left;
  margin-bottom: 50px;
}
.third-section .th {
  text-align: center;
  color: #ff7139;
}
#border1 {
  border-left: 10px solid;
  border-image: linear-gradient(tomato, salmon);
  border-image-slice: 1;
}

#border2 {
  border-left: 10px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

footer {
  font-size: 15px;
  font-weight: 550;
  text-align: center;
}
